[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
airport-helpers = {editable = true, path = "."}
boto3 = "*"
confluent-kafka = "*"
trino = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
